.number-guesser{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.MuiFormControl-root{
    margin-bottom: 24px !important;
}

.MuiOutlinedInput-input{
    color: white !important;
}

.MuiTypography-root{
    text-align: center;
}

