.homepage{
    text-align: center;
    margin-top: 35vh;
    display: flex;
    flex-direction: column;
}

@media (max-width: 760px) {
    .homepage {
        margin-top: 20vh;
    }
}

.MuiOutlinedInput-notchedOutline {
    border-color: aliceblue !important;

}

.MuiOutlinedInput-input{
    color: white !important;
}

.MuiInputLabel-root{
    color: white !important;
}

